name: Run small script

on:
  workflow_dispatch:

jobs:
  run-script:          # this is the job name (can be anything)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Run script
        run: python scripts/my_job.py
